*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    color: #000;
    
  }
  
  body{
    background-image: linear-gradient(to right, #fff , #52b788);
  }
  
  .main-container{
    display: flex;
    flex-direction: column;
    /* margin-top: 100px; */
    align-items: center;
  }
  
  .coin-search{
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .main-heading{
    margin-bottom: 32px;
    text-align: center;
    color: #000;
    margin-top: 100px;
    color: #000;
    font-size: 50px;
  
  }
  
  .coin-input{
    padding-left: 16px;
    width: 300px;
    height: 50px;
    border-radius: 4px;
    border: none;
    background-color: #fff;
    color: #000;
  }
  
  .coin-input::placeholder{
    color: #e2e2e2;
  }
  
  .coins-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
  }
  
  .coin-options{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 80%;
    margin-left: 170px;
    margin-bottom: 30px;
    margin-top: 50px;
  }
  
  .coin-dropdown{
    display: flex;
    flex-direction: column;
    color: #000;
    /* align-items: center; */
    font-weight: bold;
    margin-left: 20px;
  }
  
  .dropdown-menu{
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 4px;
  }