*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
  color: #000;
  
}

body{
  background-image: linear-gradient(to right, #8399a2 , #eef2f3);
}

.coin-app{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  
}

.coin-search{
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coin-text{
  margin-bottom: 32px;
  text-align: center;
  color: #000;

}

.coin-input{
  padding-left: 16px;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-color: #fff;
  color: #000;
}

.coin-input::placeholder{
  color: #e2e2e2;
}